<!DOCTYPE html>
{% extends 'superadmin/base.html' %}

{% block content %}

    <div class="container mt-4">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="card-title">Admin Profile</h1>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center mb-4">
                    {% if superadmin.logo %}
                    <div class="d-flex justify-content-center align-items-center" style="background-color: white; border: 2px solid black; border-radius: 50%; padding: 10px; width: 120px; height: 120px;">
                        <img src="{{ superadmin.logo.url }}" alt="Logo" class="img-fluid rounded-circle" style="border-radius: 50%; width: 100px; height: 100px; object-fit: cover;">
                    </div>
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Email : </th>
                                        <td>{{ superadmin.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Company : </th>
                                        <td>{{ superadmin.company_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Bank : </th>
                                        <td>{{ superadmin.bank }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>SWIFT Code : </th>
                                        <td>{{ superadmin.SWIFT_CODE }}</td>
                                    </tr>
                                    <tr>
                                        <th>IFSC Code : </th>
                                        <td>{{ superadmin.IFSC_CODE }}</td>
                                    </tr>
                                    <tr>
                                        <th>Bank Number : </th>
                                        <td>{{ superadmin.bank_no }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Website : </th>
                                        <td><a href="{{ superadmin.website }}" target="_blank">{{ superadmin.website }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Address</th>
                                        <td>{{ superadmin.address }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a href="{% url 'superadmin:edit_superadmin' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
