<!DOCTYPE html>
{% extends 'superadmin/base.html' %}

{% block content %}

{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3 mx-3 my-3">
        <h3 class="card-title">Employees</h3>
        <div class="d-flex align-items-center">
            <div class="input-group mr-2">
                <input type="text" class="form-control" id="search-query" placeholder="Search by Name or Email">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="search-button"><i class="fa-solid fa-search"></i></button>
                </div>
            </div>
            <a href="{% url 'superadmin:employee_create' %}" class="btn btn-success ml-2"><i class="fa-solid fa-plus"></i></a>
            <button type="submit" form="bulk-delete-form" class="btn btn-danger ml-2" onclick="return confirmBulkDelete();"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>

    <form method="post" action="{% url 'superadmin:bulk_employee_delete' %}" id="bulk-delete-form">
        {% csrf_token %}
        <div class="table-responsive mx-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Joining Date</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Slip</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="employee-table-body">
                    {% for employee in employees %}
                    <tr>
                        <td><input type="checkbox" name="employee_ids" value="{{ employee.pk }}"></td>
                        <td>{{ employee.first_name }}</td>
                        <td>{{ employee.last_name }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.joining_date|date:"d/m/Y" }}</td>
                        <td>{{ employee.salary }}</td>
                        <td class="text-center align-middle">
                            <a href="{% url 'superadmin:create_salary_slip' employee.pk %}" class="text-success" title="Create Salary Slip">
                                <i class="fas fa-file-invoice-dollar"></i>
                            </a>
                            <a href="{% url 'superadmin:check_or_create_salary_slip' employee.pk %}" class="text-info" title="Check or Create Salary Slip">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'superadmin:employee_update' employee.pk %}" class="text-primary mr-2" title="Update">
                                <i class="fas fa-pen-to-square"></i>
                            </a>
                            <form method="post" action="{% url 'superadmin:employee_delete' employee.pk %}" style="display:inline;" onsubmit="return confirmDelete();">
                                {% csrf_token %}
                                <button type="submit" class="btn p-0 text-danger mr-2" style="border: none; background: none;" title="Delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                            <a href="{% url 'superadmin:employee_detail' employee.pk %}" class="text-info mr-2" title="Details">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock content %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('select-all').addEventListener('click', function(event) {
            let checkboxes = document.querySelectorAll('input[name="employee_ids"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = event.target.checked;
            });
        });

        // Live search as you type
        document.getElementById('search-query').addEventListener('input', function(event) {
            let searchQuery = event.target.value.trim().toLowerCase();
            filterEmployees(searchQuery);
        });

        // Search button click event
        document.getElementById('search-button').addEventListener('click', function() {
            let searchQuery = document.getElementById('search-query').value.trim().toLowerCase();
            filterEmployees(searchQuery);
        });

        function filterEmployees(searchQuery) {
            let rows = document.querySelectorAll('#employee-table-body tr');
            rows.forEach(row => {
                let firstName = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                let lastName = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
                let email = row.querySelector('td:nth-child(4)').textContent.toLowerCase();

                if (firstName.includes(searchQuery) || lastName.includes(searchQuery) || email.includes(searchQuery)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        // Confirm delete functions
        window.confirmDelete = function() {
            return confirm('Are you sure you want to delete this client?');
        }

        window.confirmBulkDelete = function() {
            return confirm('Are you sure you want to delete the selected clients?');
        }
    });
</script>
{% endblock %}
