<!-- employee/tasks/task_detail.html -->
{% extends "employee/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Task Details</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Task Title</th>
                                <td>{{ task.title }}</td>
                            </tr>
                            <tr>
                                <th>Project</th>
                                <td>{{ task.project.project_title }}</td>
                            </tr>
                            <tr>
                                <th>Priority</th>
                                <td> {% if task.priority == 'medium' %}
                                    <span class="badge badge-warning">{{ task.get_priority_display }}</span>
                                {% elif task.priority == 'low' %}
                                    <span class="badge badge-success">{{ task.get_priority_display }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ task.get_priority_display }}</span>
                                {% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Status</th>
                                <td>
                                    {% if task.status == 'inprogress' %}
                                        <span class="badge badge-warning">{{ task.get_status_display }}</span>
                                    {% else %}
                                        <span class="badge badge-success">{{ task.get_status_display }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Due Date</th>
                                <td>{{ task.due_date }}</td>
                            </tr>
                            <tr>
                                <th>Assigned To</th>
                                <td>{{ task.employee.first_name }} {{ task.employee.last_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Attachment</th>
                                <td>
                                    {% if task.attachment %}
                                    <a href="{{ task.attachment.url }}" target="_blank">{{ task.attachment.name }}</a>
                                    {% else %}
                                    No attachment available.
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Description</th>
                                <td>{{ task.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
