<!DOCTYPE html>
{% block header %}
    {% include 'employee/header.html' %}
{% endblock header %}
<body>

    {% block navbar %}
        {% include 'employee/navbar.html' %}
    {% endblock navbar %}

    {% block sidebar %}
        {% include 'employee/sidebar.html' %}
    {% endblock sidebar %}

    <div class="content-wrapper">
        {% block content %}
        <!-- Main content will be injected here -->
        {% endblock content %}
    </div>

    {% block footer %}
        {% include 'employee/footer.html' %}
    {% endblock footer %}

    {% block extra_scripts %}
        <!-- Main content will be injected here -->
    {% endblock extra_scripts %}
</body>

</html>