<!-- templates/footer.html -->
{% load static %}
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
 <!-- red color issue -->
<script src="{% static 'myapp/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'myapp/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'myapp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

<script src="{% static 'myapp/js/coderscotch.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'myapp/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'myapp/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'myapp/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'myapp/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'myapp/plugins/chart.js/Chart.min.js' %}"></script>


<script src="{% static 'myapp/js/demo.js' %}"></script>
<!-- Include jQuery -->
<script src="{% static 'myapp/js/jquery-3.6.0.min.js' %}"></script>

<!-- Include Bootstrap JS -->
<script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"></script>

<!-- Include Font Awesome JS -->
<script src="{% static 'myapp/js/all.min.js' %}"></script>


<script src="{% static 'myapp/js/demo.js' %}"></script>


<!-- Include Flatpickr JS -->
<script src="{% static 'myapp/js/flatpickr.js' %}"></script>

<script>
    // Wait for the DOM to fully load
    document.addEventListener('DOMContentLoaded', (event) => {
        // Select the message container
        const messageContainer = document.getElementById('message-container');

        // If the message container exists, set a timeout to hide it after 5 seconds
        if (messageContainer) {
            setTimeout(() => {
                messageContainer.style.display = 'none';
            }, 4000);  // 5000 milliseconds = 5 seconds
        }
    });
</script>

