<!DOCTYPE html>
{% extends 'superadmin/base.html' %}
{% load custom_filters %}
{% block content %}

{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3 mx-3 my-3">
        <h3 class="card-title">Clients</h3>
        <div class="d-flex align-items-center">
            <form id="filter-form" method="get" class="form-inline">
                <div class="form-group mr-2">
                    <label for="search-query" class="sr-only">Search</label>
                    <input type="text" name="search" id="search-query" class="form-control" placeholder="Search by Name, Email, or Phone">
                </div>
                <div class="form-group mr-2">
                    <label for="id_location" class="sr-only">Location</label>
                    <select name="location" id="id_location" class="form-control" onchange="this.form.submit()">
                        <option value="">Location</option>
                        {% for loc in locations %}
                            <option value="{{ loc }}" {% if filters.location == loc %}selected{% endif %}>{{ loc }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mr-2">
                    <label for="id_industry" class="sr-only">Industry</label>
                    <select name="industry" id="id_industry" class="form-control" onchange="this.form.submit()">
                        <option value="">Industry</option>
                        {% for ind in industries %}
                            <option value="{{ ind }}" {% if filters.industry == ind %}selected{% endif %}>{{ ind }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{% url 'superadmin:client_create' %}" class="btn btn-success ml-2"><i class="fa-solid fa-plus"></i></a>
                <button type="submit" form="bulk-delete-form" class="btn btn-danger ml-2" onclick="return confirmBulkDelete();"><i class="fa-solid fa-trash"></i></button>

            </form>
        </div>
    </div>


    <div class="container">
        <form method="post" action="{% url 'superadmin:bulk_client_delete' %}" id="bulk-delete-form">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="bg-dark">
                        <tr>
                            <th><input type="checkbox" id="select-all"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Location</th>
                            <th scope="col">Industry</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="client-table-body">
                        {% for client in clients %}
                        <tr>
                            <td><input type="checkbox" name="client_ids" value="{{ client.pk }}"></td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.phone }}</td>
                            <td>{{ client.location }}</td>
                            <td>{{ client.industry }}</td>
                            <td>
                                <a href="{% url 'superadmin:client_update' client.pk %}" class="btn btn-outline-primary btn-sm mr-2"><i class="fa-solid fa-pen-to-square"></i></a>
                                <form method="post" action="{% url 'superadmin:client_delete' client.pk %}" style="display:inline;" onsubmit="return confirmDelete()">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm mr-2"><i class="fa-solid fa-trash"></i></button>
                                </form>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('select-all').addEventListener('click', function(event) {
            let checkboxes = document.querySelectorAll('input[name="client_ids"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = event.target.checked;
            });
        });

        // Live search as you type
        document.getElementById('search-query').addEventListener('input', function(event) {
            let searchQuery = event.target.value.trim().toLowerCase();
            filterClients(searchQuery);
        });

        function filterClients(searchQuery) {
            let rows = document.querySelectorAll('#client-table-body tr');
            rows.forEach(row => {
                let name = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
                let email = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
                let phone = row.querySelector('td:nth-child(4)').textContent.toLowerCase();

                if (name.includes(searchQuery) || email.includes(searchQuery) || phone.includes(searchQuery)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }

        // Confirm delete functions
        window.confirmDelete = function() {
            return confirm('Are you sure you want to delete this client?');
        }

        window.confirmBulkDelete = function() {
            return confirm('Are you sure you want to delete the selected clients?');
        }
    });
</script>
{% endblock %}

