
{% include 'employee/header.html' %}
<!-- Main content -->
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh; padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary" style="max-width: 500px; width: 100%;">
                <div class="login-box">
                    <!-- /.login-logo -->
                    <div class="card card-outline card-primary">
                      <div class="card-header text-center bg-dark">
                        <h5 >Employee login</h5>
                      </div>
                      <div class="card-body">
                
                  
                        <form method="post" id="quickForm">
                          {% csrf_token %}
                          <!-- Form fields for email and password -->
                          <div class="input-group mb-3">
                              {{ form.non_field_errors }}
                              {{ form.email }}
                              <div class="input-group-append">
                                  <div class="input-group-text">
                                      <span class="fas fa-envelope"></span>
                                  </div>
                              </div>
                          </div>
                          <div class="input-group mb-3">
                              {{ form.password }}
                              <div class="input-group-append">
                                  <div class="input-group-text">
                                      <span class="fas fa-lock"></span>
                                  </div>
                              </div>
                          </div>
                          {% if messages %}
                          <div id="message-container">
                              {% for message in messages %}
                                  <div class="alert alert-warning">{{ message }}</div>
                              {% endfor %}
                          </div>
                          {% endif %}
                          <div class="row">
                              <div class="col-4">
                                  <button type="submit" class="btn btn-dark btn-block">Sign In</button>
                              </div>
                          </div>
                      </form>
                      
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
               
            </div>
        </div>
    </div>
</div>
{% include 'superadmin/footer.html' %}

