<!-- templates/footer.html -->
{% load static %}
<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<!-- <footer class="main-footer">
  <strong>Copyright &copy; 2015-2024 <a href="https://coderscotch.com">coderscotch.com</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.1.0
  </div>
</footer> -->
<script src="{% static 'myapp/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'myapp/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'myapp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

<script src="{% static 'myapp/js/coderscotch.js' %}"></script>
<script src="{% static 'myapp/js/customjs.js' %}"></script>
<!-- Include Dropzone JS -->
<script src="{% static 'myapp/js/dropzone.min.js' %}" crossorigin="anonymous"></script>
<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'myapp/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'myapp/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'myapp/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'myapp/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'myapp/plugins/chart.js/Chart.min.js' %}"></script>

<!-- for pop-up form -->
<!-- Include jQuery library before your custom JavaScript -->
<script src="{% static 'myapp/js/jquery-3.5.1.slim.min.js' %}"></script>

<!-- Include Bootstrap JS -->
<script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"></script> 

<script src="{% static 'myapp/js/demo.js' %}"></script>
<!-- Include jQuery -->
<script src="{% static 'myapp/js/jquery-3.6.0.min.js' %}"></script>
<!-- Include Bootstrap JS -->
<script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"></script>
<!-- Include Font Awesome JS -->
<script src="{% static 'myapp/js/all.min.js' %}"></script>

 <!-- Include Select2 CSS -->
<link href="{% static 'myapp/css/select2.min.css' %}" rel="stylesheet" />

<!-- Include Select2 JS -->
<script src="{% static 'myapp/js/select2.min.js' %}"></script>

<!-- Include Bootstrap CSS (optional, for styling) -->
<link href="{% static 'myapp/css/bootstrap.min.css' %}" rel="stylesheet">



