<!DOCTYPE html>
{% extends "superadmin/base.html" %}

{% block content %}

{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <div class="card-body">
    <div class="header text-white py-3 px-4 my-4 rounded d-flex justify-content-between align-items-center" style="background-color:rgb(255, 255, 255)">
        <h3 class="text-dark">Projects</h3>
        <div>
            <form id="filter-form" method="get" class="form-inline justify-content-end">
                <div class="form-group mb-2 mr-2">
                    <input type="text" class="form-control" id="search-query" name="search_query" placeholder="🔍 Search by Project Title or Client Name">
                </div>
                <div class="form-group mb-2 mr-2">
                    <select class="form-control" name="client" onchange="this.form.submit()">
                        <option value="">🧑‍💼All Clients</option>
                        {% for client in clients %}
                            <option value="{{ client.id }}" {% if client_filter == client.id|stringformat:"s" %}selected{% endif %}>{{ client.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 mr-2">
                    <select class="form-control" name="priority" onchange="this.form.submit()">
                        <option value="">All Priorities</option>
                        {% for priority_value, priority_display in priorities %}
                            <option value="{{ priority_value }}" {% if priority_filter == priority_value %}selected{% endif %}>{{ priority_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-2 mr-2">
                    <select class="form-control" name="status" onchange="this.form.submit()">
                        <option value="">⏳All Statuses</option>
                        {% for status_value, status_display in statuses %}
                            <option value="{{ status_value }}" {% if status_filter == status_value %}selected{% endif %}>{{ status_display }}</option>
                        {% endfor %}
                    </select>
                </div>
                <a href="{% url 'superadmin:project_create' %}" class="btn btn-success ml-2"><i class="fa-solid fa-plus"></i></a>
                <button type="submit" form="bulk-delete-form" class="btn btn-danger ml-2" onclick="return confirmBulkDelete();"><i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
    </div>

    <form method="post" action="{% url 'superadmin:bulk_project_delete' %}" id="bulk-delete-form">
        {% csrf_token %}
        <div class="container">
            {% for project in projects %}
            <div class="card mb-3">
                <div class="card-body kanban-task {{project.priority}} ">
                    <div class="row border-left border-primary">
                        <div class="col-md-1">
                            <input type="checkbox" name="project_ids" value="{{ project.pk }}">
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title">{{ project.project_title }}</h5>
                            <p class="card-text"><small class="text-muted">{{ project.client.name }}</small></p>
                        </div>
                          
                       
                        <!-- <div class="col-md-2">
                           
                            <p class="card-text"><small class="text-muted">{{ project.client.name }}</small></p>
                        </div> -->
                        <div class="col-md-1">
                            {% if project.priority == 'medium' %}
                                <span class="badge badge-warning">{{ project.get_priority_display }}</span>
                            {% elif project.priority == 'low' %}
                                <span class="badge badge-success">{{ project.get_priority_display }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ project.get_priority_display }}</span>
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <p class="card-text">{{ project.start_date|date:"d/m/Y" }}-{{ project.deadline|date:"d/m/Y" }}</p>

                        </div>
                        <div class="col-md-1">
                            <p class="card-text">{{ project.project_cost }}$</p>
                        </div>
                        <div class="col-md-1">
                            {% if project.status == 'inprogress' %}
                                <span class="badge badge-warning">{{ project.get_status_display }}</span>
                            {% else %}
                                <span class="badge badge-success">{{ project.get_status_display }}</span>
                            {% endif %}
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="{% url 'superadmin:project_update' project.pk %}" class="text-primary mr-2" title="Update">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <form method="post" action="{% url 'superadmin:project_delete' project.pk %}" style="display:inline;" onsubmit="return confirmDelete();">
                                {% csrf_token %}
                                <button type="submit" class="btn p-0 text-danger mr-2" style="border: none; background: none;" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                            <a href="{% url 'superadmin:project_detail' project.pk %}" class="text-info" title="Details">
                                <i class="fas fa-info-circle fa-1x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    
    
</div>
{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('search-query').addEventListener('input', function(event) {
        let searchQuery = event.target.value.trim().toLowerCase();
        filterProjects(searchQuery);
    });

    function filterProjects(searchQuery) {
        let cards = document.querySelectorAll('.card'); // Targeting the card elements
        cards.forEach(card => {
            let projectTitle = card.querySelector('.card-title').textContent.toLowerCase();
            let clientName = card.querySelector('.card-text small').textContent.toLowerCase(); // Adjusted to target client name

            if (projectTitle.includes(searchQuery) || clientName.includes(searchQuery)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    }

    // Confirm delete functions
    window.confirmDelete = function() {
        return confirm('Are you sure you want to delete this project?');
    }

    window.confirmBulkDelete = function() {
        return confirm('Are you sure you want to delete the selected projects?');
    }
});

</script>
{% endblock %}
